body{
    background-color: black;
    color: white;
    text-align: center;

    }
    
    h1{
    background-color: red;
    text-align: center;
    border: 10px solid;
    padding: 10px;
}
strong{
    color: red;
    }
    #banner{
    width: 100%;
    }