body{
 background-color: black;
    text-align: center;
color: aliceblue;
    }
    
    h1{
    background-color: red;
    text-align: center;
    border: 10px solid;
    padding: 10px;
}
strong{
    color: red;
    }
    #banner{
    width: 100%;
    }

    h2{
    text-align: left;
    }