body{
background-color: black;
    text-align: left;
color: aliceblue;
    }
    
    h1{
    background-color: red;
    text-align: center;
    border: 20px solid;
    padding: 20px;
}
strong{
    color: red;
    }
    #banner{
    width: 100%;
 }
 
.itens{
text-align: left;
font-size: italic;
}


 
  

